%p.game_name
  =h @card.game.name
%p
  Number of Players: 2
%p
  =h @card.game.description
%p
  You will play as player
  =h @card.player_number
  
= render "two_player_matrix_games/matrix", :game => @card.game

.strategy_chooser 
  %p
    Choose your strategy:
    -form_for(@card) do |f|
      =f.error_messages
      %p 
        -@card.game.strategies_for_player(@card.player_number).each do |strategy|
          =f.hidden_field :strategy_type, :value => strategy.class.to_s
          =f.radio_button :strategy_id, strategy.id
          =f.label :strategy_id, strategy.label
      =f.submit 'Play'