%p
  Number of Players: 2
  (
  You are player
  =h @card.player_number
  )
%p
  =h @card.game.description
%p
  Player one chooses a row and player two chooses a column and the payoff of the first player is on the left side of a cell
  and the payoff for the second player is on the right side of a cell.
  
= render "two_player_matrix_games/matrix", :game => @card.game

.strategy_chooser 
  %p
    Choose your strategy:
  = error_message_on @card, 'strategy'    
  -form_for(@card) do |f|
    %p 
      -@card.game.strategies_for_player(@card.player_number).each do |strategy|
        =f.hidden_field :strategy_type, :value => strategy.class.to_s
        =f.radio_button :strategy_id, strategy.id
        =f.label :strategy_id, strategy.label
    =f.submit 'Play'