%td=game.name
%td=link_to "Show", two_player_matrix_game_path(game)
%td=link_to "Statistics", statistics_two_player_matrix_game_path(game)
%td
  -if can? :destroy, game
    = link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete