=f.hidden_field :line_position, :class => :line
=f.hidden_field :column_position, :class => :column
%table
  %tr
    %td
    %td= f.text_field :payoff_player_2, :size => 4
  %tr
    %td= f.text_field :payoff_player_1, :size => 4
    %td