%h1 Listing two_player_matrix_games

-@two_player_matrix_games.each do |two_player_matrix_game|
  %p
    Name:
    =h two_player_matrix_game.name
    %br
    Color:
    =h two_player_matrix_game.color 
    %br
    = link_to 'Show', two_player_matrix_game
    -if can? :update, two_player_matrix_game    
      = link_to 'Edit', edit_two_player_matrix_game_path(two_player_matrix_game)
    -if can? :delete, two_player_matrix_game  
      = link_to 'Destroy', two_player_matrix_game, :confirm => 'Are you sure?', :method => :delete

%p
= link_to 'New two_player_matrix_game', new_two_player_matrix_game_path