%p= @two_player_matrix_game.name
%table
  %tr{:id => '1'}
    %td{:id => '1'}
    %td{:id => '2'}
      Soccer
    %td{:id => '3'}
      Movies
  %tr{:id => '2'}
    %td{:id => '1'}
      Soccer
    %td{:id => '2'}
      0.25
    %td{:id => '3'}  
      0.25
  %tr{:id => '3'}
    %td{:id => '1'}
      Movies
    %td{:id => '2'}
      0.25
    %td{:id => '3'}  
      0.25