%p= @two_player_matrix_game.name
%table
  %tr{:id => '1'}
    %td{:id => '1'}
    -@two_player_matrix_game.columns_strategies.each_with_index do |strategy, i|
      %td{:id => (i+2).to_s}
        =strategy.label
  -@two_player_matrix_game.results_matrix.each_with_index do |line, i|    
    %tr{:id => (i+2).to_s}
      %td{:id => '1'}
        =@two_player_matrix_game.lines_strategies[i].label
      -line.each_with_index do |value, j|
        %td{:id => (j+2).to_s}
          =value
