%p.title Ranking Per Game
%p
  -@games.each do |game|
    = link_to game.name, :controller => "rankings", :action => :show, :id => game.id, :game_type => game.class.to_s
    |

%p.title Global Ranking

.alternating_table
  %table
    %tr.odd
      %th Name
      %th Score
    -@users.each_with_index do |user, i|
      %tr{:class => (i.odd? ? "odd" : "even")}
        %td
          %fb:name{:uid => user.facebook_id, :capitalize => 'true', :linked => 'false'}
        %td= user.score

