%p.title Ranking

.alternating_table
  %table
    %tr.odd
      %th Name
      %th Score
    -@users.each_with_index do |user, i|
      %tr{:class => (i.odd? ? "odd" : "even")}
        %td
          %fb:name{:uid => user.facebook_id, :capitalize => 'true'}
        %td= user.score

%ul
  -TwoPlayerMatrixGame.all.each do |game|
    %li= link_to game.name, :controller => "rankings", :action => :show, :id => game.id, :game_type => "TwoPlayerMatrixGame"
  -SymmetricFunctionGame.all.each do |game|
    %li= link_to game.name, :controller => "rankings", :action => :show, :id => game.id, :game_type => "SymmetricFunctionGame"
