%p.title 
  Ranking for 
  = @game.name

.alternating_table
  %table
    %tr.odd
      %th Name
      %th Score
    -@game_scores.each_with_index do |game_score, i|
      %tr{:class => (i.odd? ? "odd" : "even")}
        %td
          %fb:name{:uid => game_score.user.facebook_id, :capitalize => 'true', :linked => 'false'}
        %td= game_score.score
