%p.title 
  Listing Item Types from
  = @item_set.name
  -if can? :create, ItemType.new
    (
    = link_to 'New Item Type', new_item_set_item_type_path(@item_set)
    )

.alternating_table
  %table
    %tr.odd
      %th Name
      %th
      %th

    - @item_types.each_with_index do |item_type, i|
      %tr{:class => (i.odd? ? "odd" : "even")}
        %td=h item_type.name
        %td
          -if can? :update, item_type
            = link_to 'Edit', edit_item_set_item_type_path(@item_set, item_type)
        %td
          -if can? :update, item_type
            = link_to 'Destroy', delete_item_set_item_type_path(@item_set, item_type), :confirm => 'Are you sure?', :method => :delete