%p.title
  =h @item_type.name
  (
  -if can? :update, @item_type
    = link_to 'Edit', edit_item_set_item_type_path(@item_set, @item_type)
    |
  = link_to 'Back', item_set_item_types_path(@item_set)
  )

%p
  %b Item set:
  =h @item_set.name

