%p
  Money gift value:
  =h @configuration.money_gift_value
%p
  Full permissions to Researchers: 
  =h @configuration.full_permissions_to_researchers
%p
  A Researcher can invite another researcher:
  =h @configuration.researcher_can_invite_researcher
%p
  Card Gifts Limit per Day:
  =h @configuration.card_gift_limit.to_s
%p
  Money Gifts Limit per Day:
  =h @configuration.money_gift_limit.to_s
%p
  Player's Hand Size Limit:
  =h @configuration.hand_limit.to_s
%p
  Player's Starting Money:
  =h @configuration.starting_money.to_s

= link_to 'Edit', edit_configuration_path