@import "rounded"

.cards
  width: 710px
  margin-left: auto
  margin-right: auto
  
.card
  float: left
  padding: 1px
  margin: 2px
  width: 95px
  height: 125px
  text-align: center
  @include rounded

.red_card
  @extend .card
  background-color: #db001c

.yellow_card
  @extend .card
  background-color: #ffd700

.green_card 
  @extend .card 
  background-color: #2fae00

.item_card
  @extend .card
  background-color: #000abf

.card a
  font:
    family: "lucida grande",tahoma,verdana,arial,sans-serif
    size: 12px
  color: #fff
  text-decoration: none

.tdcard
  height: 125px
  vertical-align: middle
  width: 100px