@import "cards"
@import "forms"
@import "two_player_matrix_game"
@import "alternating_table"
!page_width = 756px

body
  margin: 0
  padding: 0

table.title
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif
  width: !page_width
  color: #333333

  .name
    font-size: 20px
    width: 250px 

  .info
    font-size: 15px
    text-align: right
  
#menubar
  width: !page_width
  border-style: solid
  border-width: 1px
  margin-left: auto
  margin-right: auto
  
  ul
    list-style-type: none
    margin: 0
    padding: 0
    overflow: hidden
    
  li
    float: left
    font:
      family: "lucida grande",tahoma,verdana,arial,sans-serif
      size: 12px
    //color: #333333

  a
    display: block
    padding: 5px
    color: #00a
    &:link
      //color: #FF0000
      text-decoration: none
    &:visited
      //color: #00FF00
      text-decoration: none
    &:hover
      //color: #FF00FF
      text-decoration: underline
    &:active
      //color: #0000FF
      text-decoration: underline
  
#content
  padding: 0px
  width: !page_width
  margin-left: auto
  margin-right: auto

// From Facebook    
li.item_used
  color: #0f0
li.item_not_used
  color: #ff0
li.item_not_found
  color: #f00

p, li, .configuration
  font:
    family: "lucida grande",tahoma,verdana,arial,sans-serif
    size: 11px
  color: #333333

.version
  font:
    family: "lucida grande",tahoma,verdana,arial,sans-serif
    size: 9px
  color: #333333
  float: right

.game_name
  text-align: center
  font-size: 15px

.strategy_chooser
  padding: 10px
  align: center
  
.title  
  font-size: 15px
  font-weight: bold

.help
  width: 300px
  font-size: 9px
  font-color: #f00
  text-align: justify

.stats
  font-size: 10px
  float: right