%ul
  %li
    =link_to "My Cards", cards_path
    / %a{:href => } 
  %li
    =link_to "Cards Played", played_cards_cards_path
    / %a{:href => } 
  %li
    = link_to "Invite a Friend", new_invitation_path
    / %a{:href => } 
  -if can? :read, TwoPlayerMatrixGame.new      
    %li
      = link_to "Games", games_path, :canvas => true
      / %a{:href => } 
  -if can? :read, User.new
    %li
      = link_to "Researchers", researchers_path
      / %a{:href => } 