%ul
  %li
    =link_to "My Cards", cards_path
  %li
    =link_to "Cards Played", played_cards_cards_path
  %li
    =link_to "Invite a Friend", new_invitation_path
  %li
    =link_to "Gifts", gifts_path
  %li
    =link_to "Manual", manual_path
  -if can? :read, Configuration.instance      
    %li
      =link_to "Config", configuration_path
  -if can? :read, TwoPlayerMatrixGame.new      
    %li
      = link_to "Games", games_path, :canvas => true
  -if can? :read, User.new
    %li
      = link_to "Researchers", researchers_path