%ul
  %li
    %a{:href => cards_path} Cards  
  %li
    %a{:href => games_path} Games
  %li
    %a{:href => played_cards_cards_path} Played
  %li
    %a{:href => new_invitation_path} Inv
  %li
    %a{:href => two_player_matrix_games_path} 2P
  %li
    %a{:href => researchers_path} Researchers