-generate_options_for_friend_selector(options)
%fb:serverfbml{:style=>'width: 755px; padding: 0; margin: 0'}
  %script{:type=>'text/fbml'}
    %fb:fbml
      %fb:request-form{@options_for_request_form}
        %fb:multi-friend-selector{@options_for_selector}