-if current_user.gift_log.maximum_gifts_today(:card) > 0
  -@cards.each do |card|
    %p
      = card.game.name
      = link_to "Send", card_gift_path(card)
-else
  %p You can't send more cards today.

%p
  = link_to "money", money_gifts_path
