= render 'shared/multi_friend_selector', :options => {:next_action => invitations_url,  |
  :button_name => 'Play The Game Theory Game',                                          |
  :actiontext => 'Invite your friends to play with you',                                |
  :path_for_invitation => canvas_url_for(:controller => "cards", :action => "index"),   |
  :content => 'Play many funny games on The Game Theory Game'}                          |
  