%p.title
  Inactive Games
  (
  =link_to "Back", games_path
  )
  
.alternating_table
  %table  
    -@games.each_with_index do |game, i|
      %tr{:class => (i.even? ? "odd" : "even")}
        %td= game.name
        %td
          -if can? :remove, game
            = link_to 'Activate', :controller => "games", :action => "activate", :id => game.id, :type =>game.class.to_s.underscore