%p
  = link_to "New Symmetric Function Game", new_symmetric_function_game_path
  |
  = link_to "New Two Players Matrix Game", new_two_player_matrix_game_path
  -if can? :change_probabilities, nil
    |
    = link_to "Probabilities", probabilities_games_path

.alternating_table
  %table  
    -@games.each_with_index do |game, i|
      %tr{:class => (i.even? ? "odd" : "even")}
        =render @paths[game] + "game", :game => game