-@researchers .each do |researcher|
  %p
    %fb:name{:uid => researcher.facebook_id, :capitalize => 'true'}
    - if can? :remove_researcher, researcher
      = link_to 'Stop beeing a Researcher',  remove_researcher_path(researcher), :confirm => 'Are you sure?'

%p
- if can? :invite_researcher, nil
  = link_to "Invite", new_researcher_path