= render 'shared/multi_friend_selector', :options => {:next_action => researchers_url,        |
  :button_name => 'Be a Researcher',                                                          |
  :actiontext => 'Invite your friends to be a researcher',                                    |
  :path_for_invitation => confirm_researchers_path,                                           |
  :content => 'Create experiments on The Game Theory Game',                                   |
  :mail_invite => 'false',                                                                    |
  :exclude_ids => @exclude_ids}                                                               |