= render 'shared/multi_friend_selector', :options => {:next_action => researchers_url,        |
  :button_name => 'Be a Researcher',                                                          |
  :actiontext => 'Invite your friends to be a researcher',                                    |
  :path_for_invitation => canvas_url_for(:controller => "researchers", :action => "confirm"), |
  :content => 'Create experiments on The Game Theory Game'}                                   |