%p.title
  =h @card.game.name
  (
  = link_to 'Back', cards_path
  -if can? :delete, @card
    |
    =link_to 'Discard', discard_card_path(@card), :confirm => 'Are you sure?'    
  )
=render @card.game.path + "/card"


