%h1 Listing cards

-@cards.each do |card|
  %p
    -name = card.symmetric_function_game.name
    =link_to name, edit_card_path(card)
    |
    =link_to 'Destroy', card, :confirm => 'Are you sure?', :method => :delete
