%h1 Listing cards

-@cards.each do |card|
  %p
    -name = card.game.name
    =link_to name, edit_card_path(card)
    -if can? :destroy, card
      |
      =link_to 'Destroy', card, :confirm => 'Are you sure?', :method => :delete
