%h1 Played Cards

-@cards.each do |card|
  %p
    Game: 
    = h card.game.name
    %br
    Strategy:
    = h card.strategy.label
    %br
    Payoff:
    =h filter_payoff(card)
    %br
    -if !card.game_result.nil?
      =link_to "Result", result_card_path(card)