%p.title
  =h @item_set.name
  -if can? :update, @item_set
    (
    = link_to 'Edit', edit_item_set_path(@item_set)
    )
    
%p
  %b Bonus Type:
  =h @item_set.bonus_type.gsub(/_/," ").capitalize
%p
  %b Item Types:
  %ul
    -@item_set.item_types.each do |item_type|
      %li= item_type.name
