%p
  Number of Players:
  =h @card.game.number_of_players
%p
  =h @card.game.description
  
.strategy_chooser 
  %p
    Choose your strategy:
  = error_message_on @card, 'strategy'
  -form_for(@card) do |f|
    %p 
      -@card.game.strategies.each do |strategy|
        =f.hidden_field :strategy_type, :value => strategy.class.to_s
        =f.radio_button :strategy_id, strategy.id
        =f.label :strategy_id, strategy.label
    =f.submit 'Play'