-form_for(@symmetric_function_game) do |f|
  =f.error_messages
  %p
    =f.label :name
    =f.text_field :name
  %p 
    =f.label :description
    =f.text_area :description
  %p 
    =f.label :number_of_players
    =f.text_field :number_of_players
  %p 
    =f.radio_button :color, 'red'
    =f.label :color, 'red'    
    =f.radio_button :color, 'yellow'
    =f.label :color, 'yellow'
    =f.radio_button :color, 'green'
    =f.label :color, 'green' 

  -f.fields_for :strategies do |builder|  
    %p  
      = builder.label :label, "Strategy"  
      = builder.text_field :label
  %p 
    =f.label :function
    =f.text_field :function     
  %p 
    =f.submit submit_label
