%h1 Listing symmetric_function_games
    
- @symmetric_function_games.each do |symmetric_function_game|
  %p
    Name: 
    =h symmetric_function_game.name
    %br
    Number of Players:
    =h symmetric_function_game.number_of_players
    %br
    Color: 
    =h symmetric_function_game.color
    %br
    = link_to 'Show', symmetric_function_game
    |
    = link_to 'Edit', edit_symmetric_function_game_path(symmetric_function_game)
    |
    = link_to 'Destroy', symmetric_function_game, :confirm => 'Are you sure?', :method => :delete

%p
= link_to 'New symmetric_function_game', new_symmetric_function_game_path