%p
  Name:
  =h @symmetric_function_game.name

%p
  Description:
  =h @symmetric_function_game.description

%p
  Number of players:
  =h @symmetric_function_game.number_of_players

%p
  Color:
  =h @symmetric_function_game.color

%p
  Label_1:
  =h @symmetric_function_game.label_1

%p
  Label_2:
  =h @symmetric_function_game.label_2

%p
  Function:
  =h @symmetric_function_game.function

= link_to 'Edit', edit_symmetric_function_game_path(@symmetric_function_game)
|
= link_to 'Back', symmetric_function_games_path