%p.title=h @symmetric_function_game.name

%p
  Description:
  =h @symmetric_function_game.description

%p
  Number of players:
  =h @symmetric_function_game.number_of_players

%p
  Color:
  =h @symmetric_function_game.color

%p
  Strategies:
  %ul
    -@symmetric_function_game.strategies.each do |s|
      %li= s.label

%p
  Function:
  =h @symmetric_function_game.function

-if can? :update, @symmetric_function_game
  = link_to 'Edit', edit_symmetric_function_game_path(@symmetric_function_game)
  |
= link_to 'Back', games_path