-percentages = @symmetric_function_game.strategies_percentages
%p.title
  Statistics for 
  = @symmetric_function_game.name
  (
  = link_to 'Back', games_path
  )
.alternating_table
  %table
    %tr.odd
      %th Strategy
      %th Percentage
    -@symmetric_function_game.strategies.each_with_index do |strategy, i|
      %tr{:id => i, :class => (i.odd? ? "odd" : "even")}
        %td#0=strategy.label
        %td#1
          ="#{percentages[strategy] * 100}%"