%p.title Adminstrator's Manual
/ bla e leia também os outros manuais
/ full permission
%p.title Inviting new Researchers
/ bla sobre user types
%p.title Changing system configuration
/ Leia researcher manual
%p.title Changing games probabilities
%p.title Items, ItemTypes and ItemSets
