%p.title Privacy Policy

%p  
  In The Game Theory Game we follow 
  the 
  %a{:href=>"http://www.facebook.com/privacy/explanation.php#!/policy.php"}
    Facebook’s Privacy Policy
  and the Facebook's
  %a{:href=>"http://developers.facebook.com/policy/"}
    Developer Principles & Policies.

%p 
  We only use your information in three ways:
  %ul
    %li
      We show your name on the global ranking and in the rankings for specific games.
    %li
      We show your name in the researcher's page if you are a researchers.
    %li
      And we use your friends list to show you the option that you have when sending a invitation or a gift.

%p 
  We do not provide links to your's Facebook Profile neither do we contact you in any way.