<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
%html{:xmlns=>"http://www.w3.org/1999/xhtml", 'xmlns:fb'=>"http://www.facebook.com/2008/fbml"} 
  %head
    =stylesheet_link_tag 'layout'
    =fb_connect_javascript_tag
    =javascript_include_tag 'jquery', 'application'
  %body
    #title
      The Game Theory Game
      payoff:
      / # = current_user.payoff
    #menubar
      =render :partial => 'shared/menu'
    #content
      %p= flash[:notice]
      =yield
    =xfbml_start