<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
%html{:xmlns=>"http://www.w3.org/1999/xhtml", 'xmlns:fb'=>"http://www.facebook.com/2008/fbml"} 
  %head
    =stylesheet_link_tag 'layout'
    =fb_connect_javascript_tag
    =javascript_include_tag 'http://code.jquery.com/jquery-1.4.2.min.js'
    =javascript_include_tag 'application'
  %body
    %table.title
      %tr
        %td
          %table
            %tr
              %td.name=link_to 'The Game Theory Game', facebook_root_path
            %tr
              %td.manuals
                =link_to "Privacy Policy", policy_path
                |
                =link_to "Manual", manual_path
                -if can? :researcher_manual, nil
                  | 
                  =link_to "Researcher Manual", researcher_manual_path
                -if can? :admin_manual, nil 
                  |
                  =link_to "Admin Manual", admin_manual_path          
        %td
          .stats
            %table
              %tr
                %td Money:
                %td= current_user.money
              %tr
                %td Hand Limit:
                %td= current_user.hand_limit
              %tr
                %td Cards Per Hour:
                %td= current_user.cards_per_hour

          
    #menubar
      =render :partial => 'shared/menu'
    #content
      %p.notice= flash[:notice]
      =yield
    =xfbml_start