<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
%html{:xmlns=>"http://www.w3.org/1999/xhtml", 'xmlns:fb'=>"http://www.facebook.com/2008/fbml"} 
  %head
    =stylesheet_link_tag 'layout'
    =javascript_include_tag "http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php"
    =javascript_include_tag 'jquery', 'facebooker', 'application'
  %body

    #title
      The Game Theory Game
    #menubar
      =render :partial => 'shared/menu'
    #content
      %p= flash[:notice]
      =yield
  =xfbml_start